body{
	margin: 0;
	background-color: black;
	color: white;
}

div{
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	border-bottom: solid 1px white;
}

img{
	box-sizing: border-box;
	width: 300px;
	height: auto;
}

ol, ul {
    list-style: none outside none;
}

.menu{
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: grey;
	padding-left: 30%;
}

.menu li{
	display: inline;
	float: left;
	padding: 1px 20px;
	font-size: 18px;
}

.top_center{
	text-align: left;
	margin-left: 14.5%;
	font-size: 30px;
}